@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';
}
/* body 
{

    
} */

  
h1,
h2 
{
    padding-top: 10vh;
    color: black;
    text-align: center;
}
  
.mb_parallax_container
{
    height: 100vh;
    width: 100vw;
    border-bottom: 0px solid white;
    padding-top: 20vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
  
.mb_parallax_overlay 
{
    height: 60vh;
    width: 60%;
    margin: auto;
    background-color: white;
    opacity: .9;
}
  
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
  
.logo
{
    padding-bottom: 50px;
    font-size: 2em;
    color: #073742;
}

.navigation >a
{
    
    font-size: 1.2em;
    padding: 15px ;
    color:#073742;
}