@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';
}
body
{
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */

}
ins
{   
    font-family: 'Caveat';
    text-decoration: none;
}

#Project_1 >h2 
{  
    font-size: 28px;
}
#pro_1
{
   font-size: 24px; 
}
#Project_1
{
    position: relative;
    left: -65px;
    font-family: 'lato';

    
}
#Project_2
{
    font-family:'Lato';
    
}
#pro-2
{
   font-size: 24px; 
}
#Frame_9
{
    position: relative;
    left: 540px;
    top: -280px;
    width: 590px;
    height: 341px;
    border-radius: 5px;

}
#Project_3
{
    font-family:'Caveat';
    position: relative;
    left: -65px;
}
#pro-3
{
   font-size: 24px; 
}
#Frame_10
{
    position: relative;
    left: 540px;
    top: -280px;
    width: 590px;
    height: 341px;
    border-radius: 5px;

}
.h1-indent
{  
    position: relative;
    left: -140px;
    padding-top: 50px;
    text-indent: 1.5em;
}

.text-desc
{
    position: relative;
    left: -65px;
}

h1
{
    
    font-family: 'DM Sans';
    color: #073742;
}

h2 
{
    padding-top: 10vh;
    font-family: 'DM Sans';
    color: #073742;
}

#vector
{
    position: relative;
    top: -23px;
    left: 98.5px;
    width: 25px;  
    height: 25px;
}

#wave
{
    position: relative;
    top: 5px;
    width: 50px;
    height: 50px;
}
.mb_parallax_container
{
    height: 100vh;
    width: 100%;
    border-bottom: 0px solid #e7faff;
    padding-top: 10vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
  
.mb_parallax_overlay 
{
    height: 80vh;
    width: 80%;
    margin: auto;
    background-color: white;
    opacity: .9;
}
  
header
{
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
nav
{
    position: relative;
    left: 140px;
}
  
.logo
{
    padding-bottom: 50px;
    font-size: 2em;
    color: #073742;
}

.navigation >a
{
    
    font-size: 1.2em;
    padding: 15px ;
    color:#073742;
}

#hot_pot
{
    position: relative;
    left: 440px;
    top: -280px;
    width: 590px;
    height: 341px;
    border-radius: 5px;

}
#Group_9
{
    font-size: 24px;
}

mark {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
            animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    background: linear-gradient(90deg, #7efff5 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  
  @-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
  
  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }