@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */

}
ins
{   
    font-family: 'Caveat';
    text-decoration: none;
}

.stroke
{
    position: relative;
    top: 105px;
    left: 830px;
}

#Project_1 >h2 
{  
    font-size: 50px;
}
#pro_1
{
   font-size: 30px; 
}
#Project_1
{
    position: relative;
    left: -65px;
    font-family: 'lato';

    
}
#Project_2 >h2 
{  
    font-size: 50px;
}

#Project_2
{
    position: relative;
    left: -65px;
    font-family:'Lato';
    
}
#pro-2
{
   font-size: 30px; 
}
#Frame_9
{
    position: relative;
    left: 550px;
    top: -410px;
    width: 1180px;
    height: 682px;
    border-radius: 5px;
    border: black transparent;

}

#Project_3 >h2 
{  
    font-size: 50px;
}
#Project_3
{
    font-family:'lato';
    position: relative;
    left: -65px;
}
#pro-3
{
   font-size: 30px; 
}
#Frame_10
{
    position: relative;
    left: 550px;
    top: -410px;
    width: 1180px;
    height: 682px;
    border-radius: 5px;
    border: black transparent;
}
.h1-indent
{  
    position: relative;
    left: -185px;
    padding-top: 50px;
    text-indent: 1.5em;
}

.text-desc
{
    position: relative;
    left: -65px;
}

h1
{
    
    font-family: 'DM Sans';
    color: #073742;
}

h2
{
    padding-top: 10vh;
    font-family: 'DM Sans';
    color: #073742;
}

#project_name
{
    font-family: 'DM Sans';
    color: #073742;
    font-size: 48px;
}
/* p#pro_1
{
    padding-top: 10vh;
    font-family: 'DM Sans';
    color: #073742;
    font-size: 48px;
} */

#vector
{
    position: relative;
    top: -30px;
    left: 150px;
    width: 30px;  
    height: 30px;
}

#wave
{
    position: relative;
    top: 5px;
    width: 75px;
    height: 75px;
}
.mb_parallax_container
{
    height: 100vh;
    width: 100%;
    border-bottom: 0px solid #e7faff;
    padding-top: 10vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
  
.mb_parallax_overlay 
{
    height: 80vh;
    width: 80%;
    margin: auto;
    background-color: white;
    opacity: .9;
}
  
header
{
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
nav
{
    position: relative;
    left: 140px;
}

div.about
{
    position: relative;
    top:150px;
    left:120px;
    font-size: 28px;
}
.logo
{  
    padding-bottom: 50px;
    font-size: 8em;
    color: #073742;
}

.navigation >a
{
    
    font-size: 3em;
    padding: 15px ;
    color:#073742;
}

#hot_pot
{
    position: relative;
    left: 550px;
    top: -410px;
    width: 1180px;
    height: 682px;
    border-radius: 5px;
    border: black transparent;

}
#Group_9
{  
    position: relative;
    top:75px; 
}

mark 
{
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
            animation: 1.5s highlight 1.5s 1 normal forwards;
    
    font-family: 'DM Sans';
    color: #073742;
    background-color: none;
    background: linear-gradient(90deg, #fa7fdb 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}

mark.second
{
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
            animation: 1.5s highlight 1.5s 1 normal forwards;
    
    font-family: 'DM Sans';
    color: #073742;
    background-color: none;
    background: linear-gradient(90deg, #FFD0B5 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
}
  
@-webkit-keyframes highlight 
{
to 
{
    background-position: 0 0;
}
}

@keyframes highlight {
to 
{
    background-position: 0 0;
}
}

.btn1
{
    position: relative;
    top:135px;
    left: 40%;
    color: #073742;
    font-family: 'DM Sans';
    font-size: 40px;
    height: 75px;
    width: 200px;
    border: white;
    border-radius: 23px;
    background-color: #FF69B4;
}

.cnt-title
{
    text-align: center;
    font-family: 'DM Sans';
    font-size: 40px;
}

.cnt-side1
{
    position: relative;
    top: -40px;
    left: 287px;
}

.cnt-side2
{
    position: relative;
    top: -38px;
    left: 1167px;
}

.cnt-text
{  
    padding-top: 50px;
    text-align: center;
    font-family: 'DM Sans';
    font-size: 50px;
    color: #73C7E1;
}

.cnt-text1
{
    padding-top: 20px ;
    text-align: center;
    font-family: 'DM Sans';
    color: #FF9254;
    font-size: 30px;
}

.cnt-details
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cnt-details >h2
{
    position: relative;
    top: -50px;
}
